<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="regression tests">
    <test name="regression classes">
        <classes>
            <class name="EpicOneTest">
            	<methods>
            		<include name="testCaseOne"></include>
            		<exclude name="testCaseTwo"></exclude>
            		<exclude name="testCaseThree"></exclude>
            		<exclude name="testCaseFour"></exclude>
            		<exclude name="testCaseFive"></exclude>
            	</methods>
            </class>
            
            <class name="EpicTwoTest">
            	<methods>
            		<include name="testCaseOne"></include>
            		<exclude name="testCaseTwo"></exclude>
            		<exclude name="testCaseThree"></exclude>
            		<exclude name="testCaseFour"></exclude>
            		<exclude name="testCaseFive"></exclude>
            	</methods>
            </class>
            
            <class name="EpicThreeTest">
            	<methods>
            		<include name="testCaseOne"></include>
            		<exclude name="testCaseTwo"></exclude>
            		<exclude name="testCaseThree"></exclude>
            		<exclude name="testCaseFour"></exclude>
            		<exclude name="testCaseFive"></exclude>
            	</methods>
            </class>

        </classes>
    </test>
</suite>